@media screen and (max-width: 1300px) {
.bch {
flex-direction: column;

}
.pip2 {
    align-items: center;
    position: absolute;
    /* left: 50%; */

}
.container {
    width: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: flex-end;

}
/* .section {
    height: 100px;
} */
.contaner {
    height: auto;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.menu__list {
    display: flex;
    position: absolute;
    right: 50px;
    top: 101px;
}
.no {
    width: 67px;
}
.no1 {
    width: 83px;
}
.no2 {
    width: 141px;
}
}