.u-section-1 {
  background-image: url("images/eb35a47e0b34e5861bb558d2a0cb12b368ca8fe7e3968103e704bf733145373dda28579e1e856c06b6902b8214cff57fb59a1d82ae46d8bcf6f748_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 703px;
}

.u-section-1 .u-text-1 {
  line-height: 1.2;
  width: 525px;
  animation-duration: 1000ms;
  margin: 92px auto 0;
}

.u-section-1 .u-image-1 {
  width: 158px;
  height: 158px;
  object-position: 50% 0%;
  background-image: url("images/F3.jpg");
  background-position: 50% 50%;
  margin: 92px auto 0;
}

.u-section-1 .u-text-2 {
  width: 320px;
  margin: 39px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 221px;
  min-width: 157px;
  white-space: nowrap;
  animation-duration: 1000ms;
  margin: 92px auto 60px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(1, 0, 2) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(3, 169, 244) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(255, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-1 .u-text-1 {
    line-height: 39.6px;
    margin-top: 112px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 93px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 60px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 93px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 568px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 426px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 82px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 32px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 126px;
  }
}