.u-section-1 .u-sheet-1 {
  min-height: 623px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 361px;
  margin: 34px 154px 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 556px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/download1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(226, 27, 27) !important;
  margin: 367px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 16px 0 0 30px;
}

.u-section-1 .u-list-2 {
  grid-template-rows: auto;
  width: 361px;
  margin: -556px auto 34px 235px;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 556px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/images.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 372px 140px 0 auto;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.5rem;
  margin: 16px 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 40px;
    margin-right: 78px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 372px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: -10px;
    margin-left: 40px;
  }

  .u-section-1 .u-list-2 {
    margin-bottom: 55px;
    margin-left: 78px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 139px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1217px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 27px;
    margin-right: auto;
  }

  .u-section-1 .u-list-2 {
    margin-top: -1163px;
    margin-left: auto;
    margin-bottom: 27px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 20px;
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    margin-top: 634px;
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 0px 0px;
  }

  .u-section-1 .u-list-2 {
    margin-top: -1152px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 354px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 36px;
    margin-right: 9px;
    margin-left: 27px;
  }

  .u-section-1 .u-list-2 {
    margin-top: -1190px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 356px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 29px;
    margin-right: 10px;
    margin-left: 29px;
  }
}