.u-section-1 {
  background-image: url("images/452068.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 624px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 361px;
  margin: 34px 154px 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 556px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/kevin-williams-space-jam-final.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  text-shadow: 2px 0 8px rgba(128,128,128,1);
  background-image: none;
  font-weight: 700;
  margin: 170px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 104px;
  width: 104px;
  background-image: none;
  margin: -2px auto 0;
}

.u-section-1 .u-list-2 {
  grid-template-rows: auto;
  width: 361px;
  margin: -556px auto 34px 157px;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 556px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/images.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 372px 140px 0 auto;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.5rem;
  margin: 16px 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 35px;
    margin-right: 93px;
  }

  .u-section-1 .u-icon-1 {
    height: 101px;
    width: 101px;
  }

  .u-section-1 .u-list-2 {
    margin-bottom: 35px;
    margin-left: 92px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 139px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-position: 55.5% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1179px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 27px;
    margin-right: 154px;
    margin-left: 205px;
  }

  .u-section-1 .u-icon-1 {
    height: 102px;
    width: 102px;
  }

  .u-section-1 .u-list-2 {
    margin: 20px 154px 20px auto;
  }

  .u-section-1 .u-icon-2 {
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 20px;
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1173px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 21px;
    margin-left: auto;
    margin-right: 64px;
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 0px 0px;
  }

  .u-section-1 .u-text-1 {
    width: 177px;
    margin-top: 164px;
  }

  .u-section-1 .u-list-2 {
    margin-right: 64px;
    margin-bottom: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 0% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1172px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-icon-1 {
    height: 105px;
    width: 105px;
    margin-top: 0;
  }

  .u-section-1 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 356px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 29px;
    margin-right: 10px;
    margin-left: 29px;
  }
}